# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
*-template
*.template.cpp
*.template.hpp

# Misc
/venv/
/fprime-venv/
/.idea/
/.vscode/
.DS_Store
*.gcov



# FPrime Build Artifacts & Caches
build-artifacts/
build-fprime-*/

# Python Virtual Environment
fprime-venv/
venv/
__pycache__/
*.pyc

# Logs & Runtime Data
logs/
DpCat/